<form action="/user/login" method="post" id="login-form">
    <div>
        <label for="email">Seu e-mail:</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="password">Sua senha:</label>
        <input type="text" name="password" id="password">
    </div>
    <button type="submit" id="submit-btn">ENVIAR</button>
</form>

<script src="/js/login.js"></script>