<h1>Adicione uma nova categoria: </h1>
<form action="/admin/{{userName}}/categorie/add" method="post">
    <div>
        <label for="name">Nome: </label>
        <input type="text" id="name" name="name">
    </div>
    <button type="submit">ADICIONAR</button>
</form>