<nav> 
    logo
    <ul id="nav-list">
        <button class="btn-toggle" onclick="navListToggle()"><i class="bi bi-x-circle"></i></button>
        <li><a href="#">github</a></li>
        <li><a href="#">sair</a></li>
    </ul>
    <button class="btn-toggle" onclick="navListToggle()"><i class="bi bi-list"></i></button>
</nav>