@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url('assets/fundo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkorange;
}

section {
    background-color: #ffffffc5;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 10px;
}

.container {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

form {
    width: 25rem;
}

h1{
    font-size: 2.2rem;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, darkorange, #fff);
    margin-bottom: 2rem;
}

label {
    color: rgba(62, 34, 1, 0.550);
    font-weight: 500;
    margin-left: 3px;
}

a{
    visibility: hidden;
    color: rgb(200, 11, 11);
    margin-left: 3px;
}

.email-container, .height-container, .weight-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.erro a{
    visibility: visible;
}

input {
    border: 2px solid rgba(0, 0, 0, 0);
    margin-top: 0.1rem;
    padding: 13px;
    background-color: #00000021;
    border-radius: 10px;
}

.erro input {
    border: 2px solid rgb(200, 11, 11);
}
.button {
    text-align: center;
    min-width: 100%;
}

button {
    border-radius: 12px;
    background: rgba(255, 140, 0, 0.8);
    width: 9rem;
    height: 3.5rem;
    transition: .1s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-weight: 600;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
    color: #fff;
}

.submit:active{
    transform: scale(90%);
}

button:hover {
    background-color: rgba(62, 34, 1, 0.583);
}

.resultado {
    padding: 20px;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.595);
    max-width: 25rem;
    max-height: 6rem;
    text-align: center;
    background-color: #ffffff94;
    display: flex;
    align-items: center;
}

.resultado p {
    max-width: 23rem;
    visibility: hiden;
    overflow-y: scroll;
}

.resultado p::-webkit-scrollbar { display: none;
}

.true p{
    visibility: visible;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }


@media(max-width: 400px){
    .form {
        max-width: 12rem;
    }
    input {
        width: 150%;
    }
    label {
        font-size: 0.9rem;
    }
    .button {
        width: 150%;
    }

    .resultado {
        max-width: 18rem;
    }
}