<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
    <title>CRUD</title>
</head>
<body>
<header>
    <div class="logo-container">
        <img src="images/logo.png" class="logo-img">
        </section>
    </div>
    <button class="btn-burguer">
        ☰
    </button>
    <nav style="display: none;">
        <ul>
            <li>O que é CRUD?</li>
            <li>GitHub</li>
        </ul>
    </nav>
</header>
    <main>
        {{{body}}}
    </main>
</body>
</html>