<h1>CRUD</h1>
<section>
    <form action="">
        <h2>Faça um post</h2>
        <section class="input-container">
            <div class="user-container">
                <label for="user">Seu nome:</label>
                <input type="text" name="user" id="user-input">
            </div>
            <div class="subject-container">
                <label for="subject">Assunto: </label>
                <input type="text" name="subject" id="subject-input">
            </div>
            <div class="post-container">
                <label for="post">Postagem:</label>
                <textarea name="post" id="post"></textarea>
            </div>
        </section>
    </form>
</section>