<form action="/user/login" method="post">
    <div>
        <label for="name">Seu nome:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="email">Seu e-mail:</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="password">Sua senha:</label>
        <input type="text" name="password" id="password">
    </div>
    <button type="submit">ENVIAR</button>
</form>