<h4>Login</h4>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">Email:</label>
                <input type="email" name="email" required class="form-control">
            <label for="senha">Senha:</label>
                <input type="password" name="senha" required class="form-control">
            
            <button class="btn btn-success mt-4">Cadastar</button>
        </form>
    </div>
</div>