<div class="card">
    <div class="card-body">
        <h2>{{postagem.titulo}}</h2>
        <h4>{{postagem.descricao}}</h4>
        <p>{{postagem.conteudo}}</p>
        <hr>
        <p>Data de postagem: {{postagem.data}}</p>
    </div>
</div>