.edit-container {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(78, 78, 78, 0.842);
    padding: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.edit-container form {
    background-color: #ffffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 20px 20px;
}

.edit-container form h1 {
    color: rgb(78, 78, 78);
    position: static;
    height: 3.3rem;
    margin: 0;
    background-color: rgb(231, 184, 52);
    width: 125%;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 23px;
    padding-top: 5%;
}

.edit-container form .edit-inputs {
    display: flex;
    text-align: center;
    gap: 10px;
}

.input-edit-container {
    text-align: left;
}

.input-edit-container label{
    font-weight: 600;
}

.edit-container form .edit-inputs input {
    padding: 2px 10px;
    border: 2px solid rgb(255, 174, 0);
    width: 90%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.075);
}

.edit-container form #edit-content{
    height: 20vh;
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    border: 2px solid transparent;
    resize: none;
    margin-top: 30px;
    padding: 5px;
}

.edit-container form a {
    margin-top: 20px;
    background-color: rgb(255, 174, 0);
    width: 100%;
    height: 2.2rem;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.11);
    border-bottom: 3px solid rgb(201, 159, 69);
    transition: .2s;
}

.edit-container form a button {
    height: 100%;
    width: 100%;
    background-color: rgb(231, 184, 52);
    border: none;
    color: rgb(78, 78, 78);
    font-weight: 600;
    font-size: 0.9rem;
}

.edit-container form a:active {
    transform: translateY(2px);
    border-bottom: 2px solid rgba(201, 159, 69, 0);
}