main {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

main h1 {
    margin-top: 65px;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}

/* Form */
form {
    border: 1px solid rgba(0, 0, 0, 0.158);
    min-height: 23rem;
    border-radius: 10px;
    width: 18rem;
    overflow: hidden;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.137);
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form h2 {
    text-align: center;
    background: rgb(255, 205, 67);
    width: 100%;
    padding: 8px 0px;
    color: rgb(78, 78, 78);
}

.input-container {
    padding: 12px 20px 20px 20px;
    display: grid;
}

.input-container label{
    position: relative;
    font-weight: 700;
}

.input-container label span{
    position: absolute;
    right: 50px;
    top: 32px;
    font-weight: 400;
    color: rgba(78, 78, 78, 0.628);
}

.icon-user {
    margin-left: 110px;
    transform: translateY(32px);
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.158);
}

.icon-book {
    height: 25px;
    width: 25px;
    margin-left: 123px;
    transform: translateY(32px);
    padding: 5px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.158);
}

.user-container, .subject-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.user-container input, 
.subject-container input{
    margin-left: 10px;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.089);
    border: none;
    border-radius: 5px;
    position: relative;
    padding: 0.2rem 0.5rem 0.270rem 0.5rem;
}

input.erro {
    border: 1px solid red;
}

.user-container input::placeholder,
.subject-container input::placeholder {
    font-size: 0.7rem;
    color: rgba(78, 78, 78, 0.627);
    padding-left: 2px;
}

.addpost-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.addpost-container #addpost {
    height: 7rem;
    width: 13rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    resize: none;
}

.btn-submit-container {
    min-height: 4rem;
}

.btn-form {
    margin-top: 20px;
    width: 13rem;
    margin-left: 3px;
    padding: 8px 8px;
    background-color: rgb(231, 184, 52);
    border: none;
    border-radius: 10px;
    color: rgb(78, 78, 78);
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.11);
    border-bottom: 3px solid rgb(201, 159, 69);
    transition: .2s;
}

.btn-form:active {
    transform: translateY(2px);
    border-bottom: 1px solid rgb(201, 159, 69);
}

/* posts added */
.posts-container {
    gap: 12px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.posts-container .post {
    position: relative;
    background-color: rgb(231, 184, 52);
    width: 18rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.171);
    margin-bottom: 70px;
}

.posts-container .post h3 {
    background-color: rgb(231, 184, 52);
    height: 1.8rem;
    border-radius: 12px;
    overflow: hidden;
}

.posts-container .post h4 {
    background-color: white;
    border: 2px solid rgb(231, 184, 52);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 12px;
    height: 1.8rem;
    overflow: hidden;
}

.posts-container .post p {
    padding-block: 8px;
    background-color: white;
    grid-column: span 2;
    height: 6rem;
    overflow: hidden;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.posts-container .post p span{
    display: block;
    text-align: justify;
    overflow-y: auto;
    height: 4.8rem;
    padding: 0px 20px 0px 20px;
    font-weight: 600;
}

.post-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 137px;
    right: 33%;
}

.post-buttons button {
    border-radius: 100%;
    padding: 3px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.158);
    border: none;
    color: rgba(78, 78, 78);
}

.post-buttons button:nth-of-type(1) {
    color: red;
}